
@import 'reset.scss';

.w{
    width: 1020px;
    margin: 0 auto;
}

.middleWidth {
    width: 1150px;
}

// 头部底部公共部分
.header{
    width: 100%;
    background: #fff;
    z-index: 999;
    position: relative;
    box-shadow: 2px 0 4px rgba(0,0,0,.5);
    &.header-sty{
        position: fixed;
    }
    .header-top{
        height: 38px;
        background: #276ab3;
        .header-top-max{
            position: relative;
            height: 100%;
            .header-top-text{
                display: inline-block;
                height: 100%;
                line-height: 38px;
                color: #fff;
                font-size: 14px;
                position: absolute;
                right: 270px;
            }
            .header-top-inp{
                display: inline-block;
                width: 256px;
                height: 28px;
                border-radius: 20px;
                background: #fff;
                position: absolute;
                top:14%;
                right: 0;
                input{
                    width: 100%;
                    height: 100%;
                    border:none;
                    border-radius: 20px;
                    outline:none;
                    padding:0 24px;
                    box-sizing: border-box;
                    color: #bbb;
                    font-size: 14px;
                    -ms-box-sizing: border-box;
                    line-height: 28px;
                    &::-ms-clear{
                        display:none;
                    }
                }
                button{
                    display: inline-block;
                    width: 24px;
                    height: 23px;
                    background: url("../../assets/img/shoushuo.png") no-repeat;
                    position: absolute;
                    top:12%;
                    right: 5%;
                    list-style-type:none;
                    border-top-style: none;
                    border-right-style: none;
                    border-bottom-style: none;
                    border-left-style: none;
                }
            }
        }
    }
    .header-bottom{
        height: 80px;
        .header-bottom-max{
            height: 100%;
            position: relative;
            .header-bottom-logo{
                display: inline-block;
                width: 344px;
                height: 62px;
                margin-top: 10px;
                background: url("../../assets/img/logo.jpg") no-repeat;
                background-size: contain;
            }
            .header-bottom-tap{
                height: 100%;
                position: absolute;
                top:0;
                right: 0;
                li{
                    height: 100%;
                    float: left;
                    text-align: center;
                    margin-left: 62px;
                    a{
                        display: inline-block;
                        height:100%;
                        line-height: 80px;
                        color: #555;
                        font-size: 18px;
                        box-sizing: border-box;
                    }
                   
                }
                span{
                    display: inline-block;
                    width: 72px;
                    height: 2px;
                    background: #276ab3;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: none;
                }
            }
        }
    }
    .header-list{
        width: 100%;
        height:0;
        background:rgba(0,0,0,.5);
        box-shadow: 2px 0 4px rgba(0,0,0,.5);
        box-sizing: border-box;
        transition: height .4s ease-in-out;
        position: absolute;
        left: 0;
        overflow: hidden;
        .header-list-max{
            width: 1000px;
            padding: 32px 0;
            box-sizing: border-box;
            position: absolute;
            // left:20%;
            margin-left: 400px;
            transform:translate3d(0,-200%,0);
            transition: transform .4s ease;
            &.open{
                transform: translate3d(0,0,0);
            }
            table{
                tbody{
                    tr{
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;
                        td{
                            padding: 8px 44px;
                            text-align: left;
                            box-sizing: border-box;
                            a{
                                font-size: 16px;
                                color: #fff;
                                &:hover{
                                    background: #ddd;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

//底欄部分
.footer{
    width: 100%;
    height: 136px;
    background: #555;
    overflow: hidden;
    ul{
        width: 640px;
        margin: 34px auto;
        li{
            display: inline-block;
            padding:0 32px;
            position: relative;
            a{
                font-size: 16px;
                color: #fff;
            }
            span{
                display: inline-block;
                width: 2px;
                height: 14px;
                background: #bbb;
                position: absolute;
                top:6px;
                right: 0;
            }
        }
    }
    p{
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
}

//首页
.home{
    //輪播圖部分
    .swiper-container {
        width: 100%;
        height: 520px;
    }
    //企業文檔部分
    .home-document{
        height: 880px;
        background: url("../img//beijing1.png") no-repeat;
        .home-document-max{
            .home-document-title{
                width: 338px;
                height: 128px;
                border-bottom: 2px solid #c9c9c9;
                margin: 0 auto;
                margin-bottom: 74px;
                position: relative;
                .home-document-title-yw{
                    display: inline-block;
                    width: 100%;
                    font-size: 20px;
                    color: #bbb;
                    text-align: center;
                    margin-top: 54px;
                }
                .home-document-title-text{
                    text-align: center;
                    font-size: 30px;
                    .home-document-title-text-bl{
                        color: #0061b2;
                    }
                    .home-document-title-text-ye{
                        color: #8fc31e;
                    }
                }
                &::after{
                    content: '';
                    display: inline-block;
                    width: 122px;
                    height: 6px;
                    background: #c9c9c9;
                    position: absolute;
                    left: 108px;
                    bottom: -4px;
                }
            }
            .home-document-content{
                height: 146px;
                border-bottom: 1px dashed #999;
                margin-bottom: 30px;
                .home-document-content-date{
                    width: 114px;
                    height: 108px;
                    background: #0075c2;
                    float: left;
                    margin-right: 38px;
                    font-size: 40px;
                    font-weight: 900;
                    color: #fff;
                    text-align: center;
                    padding-top: 12px;
                    box-sizing: border-box;
                    position: relative;
                    span{
                        display: inline-block;
                        width: 100%;
                        height: 30px;
                        font-size: 16px;
                        color: #fff;
                        background: rgba(0,0,0,0.2);
                        line-height: 30px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }
                .home-document-content-text{
                    display: table-cell;
                    a{
                        color: #000;
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 900;
                        margin-bottom: 20px;
                        &:hover{
                            color: #0061b2;
                        }
                    }
                    .home-document-content-text-top{
                        font-size: 12px;
                        color: #999;
                        float: right;
                    }
                    .home-document-content-text-bottom{
                        font-size: 14px;
                        color: #bbb;
                        float: right;
                    }
                    p{
                        color: #999;
                        margin-bottom: 8px;
                    }
                }
            }
            .home-document-more{
                display: block;
                width: 148PX;
                height: 42PX;
                font-size: 14px;
                color: #bbb;
                border: 1px solid #bbb;
                text-align: center;
                line-height: 42px;
                margin: 0 auto;
                box-sizing: border-box;
                &:hover{
                    background: #0061b2;
                    color: #fff;
                }
            }
        }
    }
    //新聞中心部分
    .news{
        width: 100%;
        height: 662px;
        background: #3675BC url("../img/beijing.png");
        .news-title{
            text-align: center;
            font-size: 26px;
            color: #fff;
            padding: 62px 0 34px 0;
            box-sizing: border-box;
        }
        .news-list{
            width: 100%;
            display: inline-block;
            text-align: center;
            span{
                display: inline-block;
                width: 120px;
                height: 38px;
                text-align: center;
                line-height: 38px;
                background: #5c5c5c;
                font-size: 16px;
                color: #fff;
                cursor: pointer;
                &:nth-of-type(1){
                    background: #29a4ff;
                }
    
            }
        }
        .news-content{
            height: 406px;
            margin: 20px auto;
            display: none;
            &:nth-of-type(2){
                display: block; 
            }
            .news-content-left{
                display: inline-block;
                width: 628px;
                margin-right: 52px;
                &>img{
                    width: 100%;
                }
                &>.news-content-left-tlei{
                    margin-top: 10px;
                    &>.rq{
                        display: inline-block;
                        width: 64px;
                        height: 64px;
                        background: #2e94f8;
                        color: #fff;
                        font-size: 26px;
                        text-align: center;
                        line-height: 22px;
                        padding-top: 12px;
                        box-sizing: border-box;
                        margin-right: 10px;
                        &>i{
                            display: block;
                            font-size: 12px;
                        }
                    }
                    &>.tlei{
                        display: inline-block;
                        width: 540px;
                        padding: 10px;
                        color: #fff;
                        border-left: 1px solid #d8d8d8;
                        font-size: 18px;
                        box-sizing: border-box;
                        &>a{
                            display: block;
                            width: 100px;
                            height: 26px;
                            border: 1px solid #fff;
                            text-align: center;
                            line-height: 26px;
                            margin-top: 10px;
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                }
            }
            &>.news-content-right{
                display: inline-block;
                vertical-align: top;
                &>a{
                    display: block;
                    margin-bottom: 18px;
                    padding: 20px 12px;
                    border: 1px solid #ddd;
                    &:hover{
                        border-color: #29a4ff;
                        &>.df{
                            background: #29a4ff;
                        }
                        &>.dl{
                            h2{
                                color: #29a4ff;
                            }
                            p{
                                color: #29a4ff;
                            }
                        }
                    }
                    &>.df{
                        display: inline-block;
                        width: 64px;
                        height: 64px;
                        background: #bbbbbb;
                        color: #fff;
                        font-size: 26px;
                        text-align: center;
                        line-height: 22px;
                        padding-top: 12px;
                        box-sizing: border-box;
                        margin-right: 10px;
                        &>i{
                            display: block;
                            font-size: 12px;
                        }
                    }
                    &>.dl{
                        display: inline-block;
                        width: 355px;
                        height: 64px;
                        vertical-align: top;
                        h2{
                            font-size: 18px;
                            color: #fff;
                            width: 100%;
                            line-height: 24px;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                        p{
                            font-size: 14px;
                            color: #fff;
                            width: 100%;
                            line-height: 38px;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    
    //關於我們部分
    .home-regard{
        height: 556px;
        .home-regard-max{
            .home-regard-title{
                width: 338px;
                height: 128px;
                border-bottom: 2px solid #c9c9c9;
                margin: 0 auto;
                margin-bottom: 74px;
                position: relative;
                .home-regard-title-yw{
                    display: inline-block;
                    width: 100%;
                    font-size: 20px;
                    color: #bbb;
                    text-align: center;
                    margin-top: 54px;
                }
                .home-regard-title-text{
                    text-align: center;
                    font-size: 30px;
                    .home-regard-title-text-bl{
                        color: #0061b2;
                    }
                    .home-regard-title-text-ye{
                        color: #8fc31e;
                    }
                }
                &::after{
                    content: '';
                    display: inline-block;
                    width: 122px;
                    height: 6px;
                    background: #c9c9c9;
                    position: absolute;
                    left: 108px;
                    bottom: -4px;
                }
            }
            .home-regard-text{
                .home-regard-text-img{
                    float: left;
                    width: 492px;
                    margin-right: 52px;
                    img{
                        width: 100%;
                    }
                }
                .home-regard-text-content{
                    display: table-cell;
                    width: 2000px;
                    h2{
                        height: 42px;
                        font-size: 18px;
                        color: #666;
                        border-bottom: 2px solid #0061b2;
                        margin-bottom: 22px;
                        font-weight: 600;
                    }
                    p{
                        font-size: 16px;
                        color: #8d8d8d;
                        margin-bottom: 48px;
                        line-height: 24px;
                    }
                    .home-regard-text-more{
                        display: inline-block;
                        width: 148PX;
                        height: 42PX;
                        font-size: 14px;
                        color: #bbb;
                        border: 1px solid #bbb;
                        text-align: center;
                        line-height: 42px;
                        box-sizing: border-box;
                        float: right;
                        &:hover{
                            background: #0061b2;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}



//行业内容页
.trade{
    .trade-navigation{
        width: 129px;
        height: auto;
        float: left;
        margin-top: 20px;
        .trade-navigation-mark{
            height: auto;
            line-height: 60px;
            padding-left: 20px;
            text-align: left;
            font-size: 16px;
            color: #403d3d;
            &>h1{
                width: 100%;
                display: block;
            }
            &>a{
                display: block;
                font-size:14px;
                color: #403d3d;
                padding-left: 14px;
                &:hover{
                    font-weight: 700;
                    color: #5c5c5c;
                }
            }
            &>.active{
                color: red;
                font-weight: 700;
                &:hover{
                    font-weight: 700;
                    color: red;
                }
            }
        }
    }
}

//其他内容页
.rest{
    .rest-navigation{
        width: 129px;
        min-height: 900px;
        float: left;
        margin-top: 40px;
        .rest-navigation-mark{
            &>a{
                display: block;
                font-size: 18px;
                color: #6b6b6b;
                padding-left: 14px;
                line-height: 60px;
                &:hover{
                    font-weight: 700;
                    color: #5c5c5c;
                }
            }
        }
    }
}