html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "微软雅黑";
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none !important;
}

.clear {
   zoom: 1
}

.clear:after {
    content: ".";
    display: block;
    line-height: 0;
    font-size: 0;
    height: 0;
    clear: both
}
h2.notice-title{
    padding-left:0 !important;
    text-indent: 1em
}
.notify .notify-btns{
    padding-bottom: 8px !important;
}
.notify .notify-msg{
    height: auto  !important;
    padding: 20px 25px  !important;
}
