@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "微软雅黑"; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none !important; }

.clear {
  zoom: 1; }

.clear:after {
  content: ".";
  display: block;
  line-height: 0;
  font-size: 0;
  height: 0;
  clear: both; }

h2.notice-title {
  padding-left: 0 !important;
  text-indent: 1em; }

.notify .notify-btns {
  padding-bottom: 8px !important; }

.notify .notify-msg {
  height: auto  !important;
  padding: 20px 25px  !important; }

.w {
  width: 1020px;
  margin: 0 auto; }

.middleWidth {
  width: 1150px; }

.header {
  width: 100%;
  background: #fff;
  z-index: 999;
  position: relative;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5); }
  .header.header-sty {
    position: fixed; }
  .header .header-top {
    height: 38px;
    background: #276ab3; }
    .header .header-top .header-top-max {
      position: relative;
      height: 100%; }
      .header .header-top .header-top-max .header-top-text {
        display: inline-block;
        height: 100%;
        line-height: 38px;
        color: #fff;
        font-size: 14px;
        position: absolute;
        right: 270px; }
      .header .header-top .header-top-max .header-top-inp {
        display: inline-block;
        width: 256px;
        height: 28px;
        border-radius: 20px;
        background: #fff;
        position: absolute;
        top: 14%;
        right: 0; }
        .header .header-top .header-top-max .header-top-inp input {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 20px;
          outline: none;
          padding: 0 24px;
          box-sizing: border-box;
          color: #bbb;
          font-size: 14px;
          -ms-box-sizing: border-box;
          line-height: 28px; }
          .header .header-top .header-top-max .header-top-inp input::-ms-clear {
            display: none; }
        .header .header-top .header-top-max .header-top-inp button {
          display: inline-block;
          width: 24px;
          height: 23px;
          background: url("../../assets/img/shoushuo.png") no-repeat;
          position: absolute;
          top: 12%;
          right: 5%;
          list-style-type: none;
          border-top-style: none;
          border-right-style: none;
          border-bottom-style: none;
          border-left-style: none; }
  .header .header-bottom {
    height: 80px; }
    .header .header-bottom .header-bottom-max {
      height: 100%;
      position: relative; }
      .header .header-bottom .header-bottom-max .header-bottom-logo {
        display: inline-block;
        width: 344px;
        height: 62px;
        margin-top: 10px;
        background: url("../../assets/img/logo.jpg") no-repeat;
        background-size: contain; }
      .header .header-bottom .header-bottom-max .header-bottom-tap {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0; }
        .header .header-bottom .header-bottom-max .header-bottom-tap li {
          height: 100%;
          float: left;
          text-align: center;
          margin-left: 62px; }
          .header .header-bottom .header-bottom-max .header-bottom-tap li a {
            display: inline-block;
            height: 100%;
            line-height: 80px;
            color: #555;
            font-size: 18px;
            box-sizing: border-box; }
        .header .header-bottom .header-bottom-max .header-bottom-tap span {
          display: inline-block;
          width: 72px;
          height: 2px;
          background: #276ab3;
          position: absolute;
          left: 0;
          bottom: 0;
          display: none; }
  .header .header-list {
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: height .4s ease-in-out;
    position: absolute;
    left: 0;
    overflow: hidden; }
    .header .header-list .header-list-max {
      width: 1000px;
      padding: 32px 0;
      box-sizing: border-box;
      position: absolute;
      margin-left: 400px;
      transform: translate3d(0, -200%, 0);
      transition: transform .4s ease; }
      .header .header-list .header-list-max.open {
        transform: translate3d(0, 0, 0); }
      .header .header-list .header-list-max table tbody tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit; }
        .header .header-list .header-list-max table tbody tr td {
          padding: 8px 44px;
          text-align: left;
          box-sizing: border-box; }
          .header .header-list .header-list-max table tbody tr td a {
            font-size: 16px;
            color: #fff; }
            .header .header-list .header-list-max table tbody tr td a:hover {
              background: #ddd;
              color: #000; }

.footer {
  width: 100%;
  height: 136px;
  background: #555;
  overflow: hidden; }
  .footer ul {
    width: 640px;
    margin: 34px auto; }
    .footer ul li {
      display: inline-block;
      padding: 0 32px;
      position: relative; }
      .footer ul li a {
        font-size: 16px;
        color: #fff; }
      .footer ul li span {
        display: inline-block;
        width: 2px;
        height: 14px;
        background: #bbb;
        position: absolute;
        top: 6px;
        right: 0; }
  .footer p {
    font-size: 16px;
    color: #fff;
    text-align: center; }

.home .swiper-container {
  width: 100%;
  height: 520px; }
.home .home-document {
  height: 880px;
  background: url("../img//beijing1.png") no-repeat; }
  .home .home-document .home-document-max .home-document-title {
    width: 338px;
    height: 128px;
    border-bottom: 2px solid #c9c9c9;
    margin: 0 auto;
    margin-bottom: 74px;
    position: relative; }
    .home .home-document .home-document-max .home-document-title .home-document-title-yw {
      display: inline-block;
      width: 100%;
      font-size: 20px;
      color: #bbb;
      text-align: center;
      margin-top: 54px; }
    .home .home-document .home-document-max .home-document-title .home-document-title-text {
      text-align: center;
      font-size: 30px; }
      .home .home-document .home-document-max .home-document-title .home-document-title-text .home-document-title-text-bl {
        color: #0061b2; }
      .home .home-document .home-document-max .home-document-title .home-document-title-text .home-document-title-text-ye {
        color: #8fc31e; }
    .home .home-document .home-document-max .home-document-title::after {
      content: '';
      display: inline-block;
      width: 122px;
      height: 6px;
      background: #c9c9c9;
      position: absolute;
      left: 108px;
      bottom: -4px; }
  .home .home-document .home-document-max .home-document-content {
    height: 146px;
    border-bottom: 1px dashed #999;
    margin-bottom: 30px; }
    .home .home-document .home-document-max .home-document-content .home-document-content-date {
      width: 114px;
      height: 108px;
      background: #0075c2;
      float: left;
      margin-right: 38px;
      font-size: 40px;
      font-weight: 900;
      color: #fff;
      text-align: center;
      padding-top: 12px;
      box-sizing: border-box;
      position: relative; }
      .home .home-document .home-document-max .home-document-content .home-document-content-date span {
        display: inline-block;
        width: 100%;
        height: 30px;
        font-size: 16px;
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
        line-height: 30px;
        position: absolute;
        left: 0;
        bottom: 0; }
    .home .home-document .home-document-max .home-document-content .home-document-content-text {
      display: table-cell; }
      .home .home-document .home-document-max .home-document-content .home-document-content-text a {
        color: #000;
        display: inline-block;
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 20px; }
        .home .home-document .home-document-max .home-document-content .home-document-content-text a:hover {
          color: #0061b2; }
      .home .home-document .home-document-max .home-document-content .home-document-content-text .home-document-content-text-top {
        font-size: 12px;
        color: #999;
        float: right; }
      .home .home-document .home-document-max .home-document-content .home-document-content-text .home-document-content-text-bottom {
        font-size: 14px;
        color: #bbb;
        float: right; }
      .home .home-document .home-document-max .home-document-content .home-document-content-text p {
        color: #999;
        margin-bottom: 8px; }
  .home .home-document .home-document-max .home-document-more {
    display: block;
    width: 148PX;
    height: 42PX;
    font-size: 14px;
    color: #bbb;
    border: 1px solid #bbb;
    text-align: center;
    line-height: 42px;
    margin: 0 auto;
    box-sizing: border-box; }
    .home .home-document .home-document-max .home-document-more:hover {
      background: #0061b2;
      color: #fff; }
.home .news {
  width: 100%;
  height: 662px;
  background: #3675BC url("../img/beijing.png"); }
  .home .news .news-title {
    text-align: center;
    font-size: 26px;
    color: #fff;
    padding: 62px 0 34px 0;
    box-sizing: border-box; }
  .home .news .news-list {
    width: 100%;
    display: inline-block;
    text-align: center; }
    .home .news .news-list span {
      display: inline-block;
      width: 120px;
      height: 38px;
      text-align: center;
      line-height: 38px;
      background: #5c5c5c;
      font-size: 16px;
      color: #fff;
      cursor: pointer; }
      .home .news .news-list span:nth-of-type(1) {
        background: #29a4ff; }
  .home .news .news-content {
    height: 406px;
    margin: 20px auto;
    display: none; }
    .home .news .news-content:nth-of-type(2) {
      display: block; }
    .home .news .news-content .news-content-left {
      display: inline-block;
      width: 628px;
      margin-right: 52px; }
      .home .news .news-content .news-content-left > img {
        width: 100%; }
      .home .news .news-content .news-content-left > .news-content-left-tlei {
        margin-top: 10px; }
        .home .news .news-content .news-content-left > .news-content-left-tlei > .rq {
          display: inline-block;
          width: 64px;
          height: 64px;
          background: #2e94f8;
          color: #fff;
          font-size: 26px;
          text-align: center;
          line-height: 22px;
          padding-top: 12px;
          box-sizing: border-box;
          margin-right: 10px; }
          .home .news .news-content .news-content-left > .news-content-left-tlei > .rq > i {
            display: block;
            font-size: 12px; }
        .home .news .news-content .news-content-left > .news-content-left-tlei > .tlei {
          display: inline-block;
          width: 540px;
          padding: 10px;
          color: #fff;
          border-left: 1px solid #d8d8d8;
          font-size: 18px;
          box-sizing: border-box; }
          .home .news .news-content .news-content-left > .news-content-left-tlei > .tlei > a {
            display: block;
            width: 100px;
            height: 26px;
            border: 1px solid #fff;
            text-align: center;
            line-height: 26px;
            margin-top: 10px;
            color: #fff;
            font-size: 14px; }
    .home .news .news-content > .news-content-right {
      display: inline-block;
      vertical-align: top; }
      .home .news .news-content > .news-content-right > a {
        display: block;
        margin-bottom: 18px;
        padding: 20px 12px;
        border: 1px solid #ddd; }
        .home .news .news-content > .news-content-right > a:hover {
          border-color: #29a4ff; }
          .home .news .news-content > .news-content-right > a:hover > .df {
            background: #29a4ff; }
          .home .news .news-content > .news-content-right > a:hover > .dl h2 {
            color: #29a4ff; }
          .home .news .news-content > .news-content-right > a:hover > .dl p {
            color: #29a4ff; }
        .home .news .news-content > .news-content-right > a > .df {
          display: inline-block;
          width: 64px;
          height: 64px;
          background: #bbbbbb;
          color: #fff;
          font-size: 26px;
          text-align: center;
          line-height: 22px;
          padding-top: 12px;
          box-sizing: border-box;
          margin-right: 10px; }
          .home .news .news-content > .news-content-right > a > .df > i {
            display: block;
            font-size: 12px; }
        .home .news .news-content > .news-content-right > a > .dl {
          display: inline-block;
          width: 355px;
          height: 64px;
          vertical-align: top; }
          .home .news .news-content > .news-content-right > a > .dl h2 {
            font-size: 18px;
            color: #fff;
            width: 100%;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .home .news .news-content > .news-content-right > a > .dl p {
            font-size: 14px;
            color: #fff;
            width: 100%;
            line-height: 38px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
.home .home-regard {
  height: 556px; }
  .home .home-regard .home-regard-max .home-regard-title {
    width: 338px;
    height: 128px;
    border-bottom: 2px solid #c9c9c9;
    margin: 0 auto;
    margin-bottom: 74px;
    position: relative; }
    .home .home-regard .home-regard-max .home-regard-title .home-regard-title-yw {
      display: inline-block;
      width: 100%;
      font-size: 20px;
      color: #bbb;
      text-align: center;
      margin-top: 54px; }
    .home .home-regard .home-regard-max .home-regard-title .home-regard-title-text {
      text-align: center;
      font-size: 30px; }
      .home .home-regard .home-regard-max .home-regard-title .home-regard-title-text .home-regard-title-text-bl {
        color: #0061b2; }
      .home .home-regard .home-regard-max .home-regard-title .home-regard-title-text .home-regard-title-text-ye {
        color: #8fc31e; }
    .home .home-regard .home-regard-max .home-regard-title::after {
      content: '';
      display: inline-block;
      width: 122px;
      height: 6px;
      background: #c9c9c9;
      position: absolute;
      left: 108px;
      bottom: -4px; }
  .home .home-regard .home-regard-max .home-regard-text .home-regard-text-img {
    float: left;
    width: 492px;
    margin-right: 52px; }
    .home .home-regard .home-regard-max .home-regard-text .home-regard-text-img img {
      width: 100%; }
  .home .home-regard .home-regard-max .home-regard-text .home-regard-text-content {
    display: table-cell;
    width: 2000px; }
    .home .home-regard .home-regard-max .home-regard-text .home-regard-text-content h2 {
      height: 42px;
      font-size: 18px;
      color: #666;
      border-bottom: 2px solid #0061b2;
      margin-bottom: 22px;
      font-weight: 600; }
    .home .home-regard .home-regard-max .home-regard-text .home-regard-text-content p {
      font-size: 16px;
      color: #8d8d8d;
      margin-bottom: 48px;
      line-height: 24px; }
    .home .home-regard .home-regard-max .home-regard-text .home-regard-text-content .home-regard-text-more {
      display: inline-block;
      width: 148PX;
      height: 42PX;
      font-size: 14px;
      color: #bbb;
      border: 1px solid #bbb;
      text-align: center;
      line-height: 42px;
      box-sizing: border-box;
      float: right; }
      .home .home-regard .home-regard-max .home-regard-text .home-regard-text-content .home-regard-text-more:hover {
        background: #0061b2;
        color: #fff; }

.trade .trade-navigation {
  width: 129px;
  height: auto;
  float: left;
  margin-top: 20px; }
  .trade .trade-navigation .trade-navigation-mark {
    height: auto;
    line-height: 60px;
    padding-left: 20px;
    text-align: left;
    font-size: 16px;
    color: #403d3d; }
    .trade .trade-navigation .trade-navigation-mark > h1 {
      width: 100%;
      display: block; }
    .trade .trade-navigation .trade-navigation-mark > a {
      display: block;
      font-size: 14px;
      color: #403d3d;
      padding-left: 14px; }
      .trade .trade-navigation .trade-navigation-mark > a:hover {
        font-weight: 700;
        color: #5c5c5c; }
    .trade .trade-navigation .trade-navigation-mark > .active {
      color: red;
      font-weight: 700; }
      .trade .trade-navigation .trade-navigation-mark > .active:hover {
        font-weight: 700;
        color: red; }

.rest .rest-navigation {
  width: 129px;
  min-height: 900px;
  float: left;
  margin-top: 40px; }
  .rest .rest-navigation .rest-navigation-mark > a {
    display: block;
    font-size: 18px;
    color: #6b6b6b;
    padding-left: 14px;
    line-height: 60px; }
    .rest .rest-navigation .rest-navigation-mark > a:hover {
      font-weight: 700;
      color: #5c5c5c; }
