<div class="container">
  <div class="row">
    <div class="col-md-12" style="min-height: 900px;">
      <div class="page-header text-center">
        <h1>{{title}}</h1>
        <p class="text-muted">{{dateformat date format="YYYY年MM月DD日 HH:mm"}}　阅读量：{{reading.total}}</p>
      </div>
      {{#if abstract}}
        <div class="well text-muted">{{abstract}}</div>
      {{/if}}
      <div class="content">
        {{{content}}}
      </div>
      {{#if tags}}
        <hr>
        <div>
          标签：{{#foreach tags}}<span>{{this}}</span> {{/foreach}}
        </div>
      {{/if}}
    </div>
  </div>
</div>