<div class="rest w clear">
    <div class="rest-navigation">
        {{#foreach categorylist}}
            <div class="rest-navigation-mark">
                {{#foreach contents}}
                    <a href="{{href}}" title="{{title}}" data-url="{{href}}">{{title}}</a>
                {{/foreach}}
            </div>
        {{/foreach}}
    </div>
    <div class="page-header text-center trade-center">
            <h2 class="h2">{{title}}</h2>
            <p class="text-muted">{{dateformat date format="YYYY年MM月DD日 HH:mm"}}</p>
        </div>
    <div class="content trade-content">
        {{{content}}}
    </div>
</div>