<div class="trade w clear">
    <div class="trade-navigation ">
        {{#foreach categorylist}}
            <div class="trade-navigation-mark">
                <h2>{{name}}</h2>
                {{#foreach contents}}
                    <a href="{{href}}" title="{{title}}" data-url="{{href}}">- {{title}}</a>
                {{/foreach}}
            </div>
        {{/foreach}}
    </div>
    <div class="page-header text-center trade-center">
        <h2 class="h2">{{title}}</h2>
        <p class="text-muted">{{dateformat date format="YYYY年MM月DD日 HH:mm"}}</p>
    </div>
    <div class="content trade-content">
        {{{content}}}
    </div>
</div>