
    <div class="home">
        <!-- 轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#features 'home-focus'}}
                    {{!-- <div class="item {{#if @first}}active{{/if}}">
                        <img src="{{thumbnail.src}}" alt="{{title}}">
                        <div class="carousel-caption"><h3><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></h3></div>
                    </div> --}}
                    <div class="swiper-slide"><img src="{{thumbnail.src}}" alt="title"><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></div>
                {{/features}}
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        </div>
        <!-- 企业文档部分 -->
        <div class="home-document">
            <div class="home-document-max w">
                <div class="home-document-title">
                    <span class="home-document-title-yw">Enterprise Documents</span>
                    <h1 class="home-document-title-text">
                        <span class="home-document-title-text-bl">企业</span><span class="home-document-title-text-ye">文档</span>
                    </h1>
                </div>
                <div class="home-document-content">
                    <div class="home-document-content-date">
                        27
                        <span>2017-11</span>
                    </div>
                    <div class="home-document-content-text">
                        <a href="">展示最新文檔第一頁</a>
                        <span class="home-document-content-text-top">企業文檔:財務報表/環境</span>
                        <p>人类生存的空间及其中可以直接或间接影响人类生活和发展的各种自然因素称为环境。对人的心理发生实际影响的整个生活环境也称为环沪江小D日语在线翻译是免费日语在线翻译网站!</p>
                        <a href="" class="home-document-content-text-bottom">查看詳情>></a>
                    </div>
                </div>
                <div class="home-document-content">
                    <div class="home-document-content-date">
                        27
                        <span>2017-11</span>
                    </div>
                    <div class="home-document-content-text">
                        <a href="">展示最新文檔第一頁</a>
                        <span class="home-document-content-text-top">企業文檔:財務報表/環境</span>
                        <p>人类生存的空间及其中可以直接或间接影响人类生活和发展的各种自然因素称为环境。对人的心理发生实际影响的整个生活环境也称为环沪江小D日语在线翻译是免费日语在线翻译网站!</p>
                        <a href="" class="home-document-content-text-bottom">查看詳情>></a>
                    </div>
                </div>
                <div class="home-document-content" style="margin-bottom:46px">
                    <div class="home-document-content-date">
                            27
                            <span>2017-11</span>
                    </div>
                    <div class="home-document-content-text">
                        <a href="">展示最新文檔第一頁</a>
                        <span class="home-document-content-text-top">企業文檔:財務報表/環境</span>
                        <p>人类生存的空间及其中可以直接或间接影响人类生活和发展的各种自然因素称为环境。对人的心理发生实际影响的整个生活环境也称为环沪江小D日语在线翻译是免费日语在线翻译网站!</p>
                        <a href="" class="home-document-content-text-bottom">查看詳情>></a>
                    </div>
                </div>
               <a href="" class="home-document-more">READ MORE>></a>
            </div>
        </div>
        <!-- 新闻中心部分 -->
        <div class="news" id="news">
            <h2 class="news-title">新闻与活动</h2>
            <div class="news-list">
                <span>公司新闻</span>
                <span>行业新闻</span>
                <span>政策法规</span>
                <span>国际新闻</span>
            </div>
            {{#foreach channel}}
                <div class="news-content middleWidth">
                    {{#foreach contents from="1" to="1"}}
                        <div class="news-content-left">
                            <a href="{{href}}"><img src="{{thumbnail.src}}" alt=""></a>
                            <div class="news-content-left-tlei clear">
                                <span class="rq"> {{dateformat date format="DD"}}<i>{{dateformat date format="YYYY-MM"}}</i></span>
                                <span class="tlei"> {{title}}<a href="{{href}}">+查看详情</a></span>
                            </div>
                        </div>
                    {{/foreach}}
                    <div class="news-content-right">
                        {{#foreach contents from="2" to="4"}}
                            <a href="{{href}}">
                                <span class="df">{{dateformat date format="DD"}}<i>{{dateformat date format="YYYY-MM"}}</i></span>
                                <span class="dl">
                                    <h2>{{title}}</h2>
                                    <p>{{abstract}}</p>
                                </span>
                            </a>
                        {{/foreach}}
                    </div>
                </div>
            {{/foreach}}
        </div>
        <!-- 关于我们部分 -->
        <div class="home-regard ">
            <div class="home-regard-max w">
                <div class="home-regard-title">
                    <span class="home-regard-title-yw">About Us</span>
                    <h1 class="home-regard-title-text">
                    <span class="home-regard-title-text-bl">关于</span><span class="home-regard-title-text-ye">我们</span>
                    </h1>
                </div>
                <div class="home-regard-text">
                    <div class="home-regard-text-img">
                        <img src="/themes/{{siteInfo.theme}}/assets/img/1.png" alt="">
                    </div>
                    <div class="home-regard-text-content">
                        <h2>关于MoenentGo</h2>
                        <p>啊時空裂縫金坷垃風涼話撒謊發監考老師拉發貨后撒發貨撒後發貨計劃發回家撒很費勁哈是福建按時發手機發送房間愛上發貨時繼父回家暗示法交話費阿雙方就哈舒服舒服</p>
                        <a href="/regards/content/gong-si-jie-shao" class="home-regard-text-more">READ MORE>></a>
                    </div>
                    
            </div>
        </div>
    </div>