<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>{{#if title}}{{title}} - {{/if}}{{#if category}}{{category.name}} - {{/if}}{{siteInfo.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="generator" content="NodeJS">
    <meta name="keywords" content="{{#if category}}{{category.keywords}},{{/if}}{{siteInfo.keywords}}">
    <meta name="description" content="{{#if category}}{{category.description}} —— {{/if}}{{siteInfo.description}}">
    <link rel="stylesheet" href="/themes/{{siteInfo.theme}}/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/themes/{{siteInfo.theme}}/assets/css/main.css" />
     <link rel="stylesheet" href="/themes/{{siteInfo.theme}}/assets/css/swiper-4.3.3.min.css" />
    <link rel="stylesheet" href="/themes/{{siteInfo.theme}}/assets/css/home.css" />
    <script src="/themes/{{siteInfo.theme}}/assets/js/jquery-2.2.1.min.js"></script>
    <script src="/themes/{{siteInfo.theme}}/assets/js/bootstrap.min.js"></script>
    <script src="/themes/{{siteInfo.theme}}/assets/js/swiper-4.3.3.min.js"></script>
    <script src="/themes/{{siteInfo.theme}}/assets/js/home.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {{{siteInfo.codeHeader}}}
  </head>
  <body>
    {{> navigation}}
    {{{body}}}
    <div class="footer">
      <ul>
          <li><a href="">首頁</a><span></span></li>
          <li><a href="">产品</a><span></span></li>
          <li><a href="">新闻</a><span></span></li>
          <li><a href="">认证</a><span></span></li>
          <li><a href="">关于</a></li>
      </ul>
      <p>版權所有@MoenentGo</p>
    </div>
  </body>
</html>