<div class="header">
    <div class="header-top">
        <div class="header-top-max w">
            <span class="header-top-text">MoenentGo</span>
            <span class="header-top-inp">
                <form action="search" method="get" name="searchForm" autocomplete="on" role="search">
                    <input name="words" type="search"   placeholder="搜索全站">
                    <button type="submit"></button>
                    {{!-- <input name="words" type="search" method="get" class="form-control" placeholder="搜索全站..."> --}}
                </form>
            </span>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom-max w">
            <span class="header-bottom-logo"></span>
            <ul class="header-bottom-tap">
                <li data-menu="nav"><a href="/">首页</a ></li>
                <li data-menu="nav"><a href="/products/hangye/wa-kuang-ye">产品</a></li>
                <li data-menu="nav"><a href="/news/gongsixinwen">新闻</a></li>
                <li data-menu="nav"><a href="/attestation/content/xin-xi-ren-zheng">认证</a></li>
                <li data-menu="nav"><a href="/regards/content/gong-si-jie-shao">关于</a></li>
                <span id="header-sp"></span>
            </ul>
        </div>
    </div>
    <div class="header-list">
        <div class="header-list-max">
          <table>
            <tbody>
                    <tr>
                        <td><a href="/products/hangye/wa-kuang-ye">行业应用</a></td>
                        <td><a href="/products/fanhangye/jin-rong-xing-ye">泛行业应用</a></td>
                        <td><a href="/products/kuahangye/yuan-ze">跨行业应用</a></td>
                    </tr>
            </tbody>
          </table>
        </div>
        <div class="header-list-max">
            <table>
                <tbody>
                        <tr>
                            <td><a href="/news/gongsixinwen">公司新闻</a></td>
                            <td><a href="/news/hangyexinwen">行业新闻</a></td>
                            <td><a href="/news/guojixinwen">国际新闻</a></td>
                            <td><a href="/news/regulations">政策法规</a></td>
                        </tr>
                 </tbody>
            </table>
        </div>
        <div class="header-list-max">
                <table>
                    <tbody>
                            <tr>
                                <td><a href="/attestation/content/xin-xi-ren-zheng">信息认证</a></td>
                                <td><a href="/attestation/content/guan-lian-ren-zheng">关联认证</a></td>
                            </tr>
                     </tbody>
                </table>
        </div>
        <div class="header-list-max">
                <table>
                    <tbody>
                            <tr>
                                <td><a href="/regards/content/lian-xi-wo-men">联系我们</a></td>
                                <td><a href="/regards/content/gong-si-jie-shao">公司介绍</a></td>
                            </tr>
                     </tbody>
                </table>
        </div>
    </div>
</div>
<div class="topTmg"></div>
