<div class="container" style="min-height: 900px;">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">搜索</li>
      </ol>
      {{#foreach list.contents}}
        <div class="media">
          <h3 class="media-heading text-overflow margin-bottom-10"><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></h3>
          {{#if thumbnail}}
            <div class="media-left">
              <img class="media-object" src="{{thumbnail.src}}" title="{{thumbnail.fileName}}" alt="{{thumbnail.description}}" width="100">
            </div>
          {{/if}}
          <div class="media-body text-muted">
            {{#if abstract}}
              <p>{{abstract}}</p>
            {{/if}}
            <p><span>{{dateformat date format="YYYY年MM月DD日 HH:mm"}}</span><span class="pull-right">阅读量：{{reading.total}}</span></p>
          </div>
        </div>
        <hr>
      {{/foreach}}
      <nav class="text-center">
        <ul class="pagination">
          {{#foreach list.pagination}}
            <li {{#if active}}class="active"{{/if}}>
              <a href="{{url}}">{{name}}</a>
            </li>
          {{/foreach}}
        </ul>
      </nav>
    </div>
  </div>
</div>