<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        {{#foreach lists}}
          <div class="col-md-6">
            <div class="panel panel-less">
              <div class="panel-heading">
                {{name}}
                <a class="pull-right" href="{{path}}">更多</a>
              </div>
              <div class="list-group list-group-less">
                {{#foreach contents limit="5"}}
                  <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
                {{/foreach}}
              </div>
            </div>
          </div>
        {{/foreach}}
      </div>
    </div>
    {{!-- <div class="col-md-3 hidden-xs hidden-sm">
      <div class="panel panel-default">
        <div class="panel-heading">阅读总排行</div>
        <ul class="list-group">
          {{#foreach readingList.total limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">阅读本月排行</div>
        <ul class="list-group">
          {{#foreach readingList.month limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">阅读本周排行</div>
        <ul class="list-group">
          {{#foreach readingList.week limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">阅读今日排行</div>
        <ul class="list-group">
          {{#foreach readingList.day limit="5"}}
            <a href="{{href}}" class="list-group-item text-overflow">{{title}}</a>
          {{/foreach}}
        </ul>
      </div>
    </div> --}}
  </div>
</div>